

.name-display-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.name-item{
  margin: 10px;
}

.profile-row-display-container{
  display: flex;
  flex-direction: row;
  justify-content: center space-evenly;
  padding: 25px;
}

.margins{
  margin-left: 15px;
  margin-right: 15px;
}

.authenticate-container{
  width: 50%;
  text-align: center;
  border: 1px rgb(13, 6, 78) solid;
  border-radius: 10px;
  margin: 20px;
  padding: 25px;
}

.top-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  margin: 15px;
}

.form-control{
  width: 50%;
}

.name-nickname{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* text-align: center; */
  width: 75%;
  height: 30rem;
  border: solid black 1px;
}

.nicknames{
  /* display: flex;
  flex-flow: row wrap;
  text-align: center; */
  width: 75%;
  column-count: 3;
  column-fill: balance;
  column-gap: 20px;
  list-style-type: disclosure-closed;
}

.nicknames span{

  position: relative;
  left: 30px;
}

.display-name{
  text-align: center;
}

.dadjoke{
  width: 50%;
  margin:20px;
  text-align: center;
  color: rgb(13, 6, 78);
}